.header {
  display: flex;

  justify-content: space-between;
  border: solid black 2px;
}
.logo {
  width: 160px;
}
.nav-items {
  padding: 0 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  text-decoration: none;
  list-style: none;
}
.search {
  padding: 10px;
}

.rescontainer {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 5px;
  width: 200px;
  /* height: 400px; */
}
.res-card:hover {
  cursor: pointer;
  border: solid black 1px;
}
.res-logo {
  padding: 5px;
  width: 190px;
  height: 150px;
}
.filter{
  display: flex;
  margin-top: 10px;
}
.filter-btn {
 margin-left: 15px;
}
.simmer-container
{
  display: flex;
  flex-wrap: wrap;



}
.simmer-card
{
  margin: 20px;
  background-color:#f0f0f0;
 height: 400px;
 width: 160px;
 

}
.login-btn
{
  padding: 10px;
  cursor:  pointer;
}

.usercard
{
  padding: 10px;
  border:solid black 1px;
  
}